<script src="/turislife/web/js/analytics.js"></script>
<h1 class="hidden">Publicações</h1>

<article class="no-post center" ng-hide="posts.length">
	<h1>Nenhuma publicação encontrada.</h1>
</article>
<article ng-repeat="post in posts">
	<header>{{ post.area }} - {{ post.autor.id }}, {{ post.data }}</header>
	
	<img ng-src="{{ post.img }}"/>
	<h1><a href="/publicacao/{{ post.nome }}#disqus_thread">{{ post.titulo }}</a></h1>
	<p>{{ post.resumo }}</p>
	
	<footer>
		<a href="/publicacao/{{ post.nome }}#disqus_thread">Leia Mais</a>
	</footer>
</article>
