<section>
	<h1>{{ post.title }}</h1>
	<img ng-src="{{ post.img }}"/>
	<p>{{ post.abstract }}</p>
</section>
<footer>
	<img ng-src="{{ post.autor.img }}"/>
	<h2>{{ post.autor.name }}</h2>
	<p>{{ post.autor.abstract }}</p>
</footer>
<section id="disqus_thread"></section>
<script>
/* * * Disqus Reset Function * * */
function (newIdentifier, newUrl, newTitle, newLanguage) {
    DISQUS.reset({
        reload: true,
        config: function () {
            this.page.identifier = window.page_id;
            this.page.url = window.location;
        }
    });
};
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>