<section class="escopo">
	<p>
		<span>Titulo</span>
		<input type="text" ng-model="titulo" ng-change="func()" />
	</p>
	<p>
		<span>Nome</span>
		<input type="text" ng-model="nome" disabled />
	</p>
	<p>
		<span>Area</span>
		<select ng-model="area">
			<option value="TRABALHO">Trabalho</option>
			<option value="ESTABELECIMENTOS">Estabelecimentos</option>
			<option value="LUGARES">Lugares</option>
		</select>
	</p>
	<p>
		<span>Imagem</span>
		<input type="file" ng-model="img" />
	</p>
	<p>
		<span>Resumo</span>
		<textarea ng-model="resumo"></textarea>
	</p>
	
</section>