<section>
	<h1>{{ post.title }}</h1>
	<img ng-src="{{ post.img }}"/>
	<p>{{ post.abstract }}</p>
</section>
<footer>
	<img ng-src="{{ post.autor.img }}"/>
	<h2>{{ post.autor.name }}</h2>
	<p>{{ post.autor.abstract }}</p>
</footer>
<section id="disqus_thread" ng-show="comentario"></section>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/**/
var disqus_config = function () {
	this.page.url = window.location;
	this.page.identifier = window.page_id;
};

function enableDisqus() { 
	  disqus_config.params = disqus_config;

	  if (enableDisqus.loaded) {
		  console.log("Reseting Disqus!");
	    DISQUS.reset({
	      reload: true
	    });
	  } else {
		console.log("Initializing Disqus!");
	    (function() {
	      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	      dsq.src = '//meusappsesyes.disqus.com/embed.js';
	      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	 
	    enableDisqus.loaded = true;
	  }
	}

enableDisqus();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
