<section>
	<ul>
		<li><button>Subtitulo</button></li>
		<li><button>Paragrafo</button></li>
		<li><button>Imagem</button></li>
	</ul>
</section>
<section id="escopo">
	<p>
		<span>Nome</span>
		<input type="text" ng-model="" />
	</p>
	<p>
		<span>Area</span>
		<select>
			<option>Trabalho</option>
			<option>Estabelecimentos</option>
			<option>Lugares</option>
		</select>
	</p>
	<p>
		<span>Resumo</span>
		<input type="text" ng-model="" />
	</p>
	<p>
		<span>Titulo</span>
		<input type="text" ng-model="" />
	</p>
	<p>
		<span>Imagem</span>
		<input type="text" ng-model="" />
	</p>
	
</section>