<section id="escopo">
	<p>
		<span>Titulo</span>
		<input type="text" ng-model="titulo" />
	</p>
	<p>
		<span>Nome</span>
		<input type="text" ng-model="titulo" disabled />
	</p>
	<p>
		<span>Area</span>
		<select>
			<option>Trabalho</option>
			<option>Estabelecimentos</option>
			<option>Lugares</option>
		</select>
	</p>
	<p>
		<span>Imagem</span>
		<input type="file" ng-model="" />
	</p>
	<p>
		<span>Resumo</span>
		<input id="resumo" type="text" ng-model="" />
	</p>
	
</section>