*{
	margin: 0;
	padding: 0;
}
body{
  background-color:#FEFEFE;
  background-size: 2px 2px;
  background-image:
    linear-gradient(90deg, rgba(102,160,109,.3), transparent 50%),
    linear-gradient(180deg, rgba(102,160,109,.3), transparent 50%);
}

header{
	position: relative;
	background-color: #66A06D;
	height: 100px;
	width: 1000px;
	text-align: center;
	margin: 0 auto;
}

header img{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
}
nav{
	display: block;
	width: 1000px;
	position: relative;
	background-color: #66A06D;
	margin: 0 auto;
	text-align: center;
	padding: 2px 0;
}

nav ul{
	display: inline-block;
	border-width: 2px 0;
	border-style: solid;
	border-color: #FFF;
	vertical-align: middle;
}

nav ul li{
	display: block;
	width: 200px;
	float: left;
	line-height: 50px;
	text-align: center;
	background-color: #66A06D;
	color: #FFF;
	margin: 2px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

nav ul li.active{
	background-color: #FFF;
	color: #66A06D;
}

nav ul li:hover{
	background-color: #FFF;
	color: #5F9EA0;
}

nav a{
	text-decoration: none;
	color: inherit;
}

nav.fixed{
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  opacity:0.8;
  z-index:999;
}
nav.fixed:hover{
	opacity: 1;
}
section.spaced{
	margin-top: 70px;
}

main{
	height: 1000px;
}

article{
	position: relative;
	background-color: #FAFAFA;
	width: 1000px;
	margin: 5px auto 0;
	border-width: 0 1px 1px;
	border-style: solid solid double;
	border-color: #66CDAA;
}
article:after{
	content: "-";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
article > a{
	text-decoration: none;
	color: #000;
	margin: 10px 5px 5px;
}
article > h1{
	width: 100%;
	text-align: center;
	color: #FFF;
	font-size: 15px;
	background-color: #66CDAA;
}

article > a:hover{
	color: #5F9EA0;
	border-color: #5F9EA0;
}

article img{
	border-radius: 30%;
	border: 2px solid;
	border-color: inherit;
	height: 200px;
	width: 300px;
	margin: inherit;
	float: left;
}
article h2{
	width: 650px;
	font-size: 25px;
	margin: inherit;
	float: left;
}

article p{
	width: 650px;
	float: left;
}

section{
	background-color: #FAFAFA;
	width: 980px;
	margin: 0 auto;
	clear: both;
	padding: 10px;
}

section:first-child{
	height: 2000px;
}

footer{
	width: 1000px;
	height: 100px;
	background-color: #66A06D;
	border-color: #66A06D; 
	color: #FFF;
	margin: 0 auto;
}
footer > img{
	border-radius: 30%;
	border: 2px solid;
	border-color: inherit;
	height: 76px;
	width: 76px;
	margin: 10px;
	float: left;
}
footer > h2{
	width: 650px;
	font-size: 25px;
	margin: inherit;
	float: left;
}

footer > p{
	width: 650px;
	float: left;
}