@font-face {
	font-family: cityscape;
	src: url(../fonts/cityscape.woff);
}

*{
	margin: 0;
	padding: 0;
}
body{
  background-color:#FEFEFE;
  background-size: 2px 2px;
  background-image:
    linear-gradient(90deg, rgba(102,160,109,.3), transparent 50%),
    linear-gradient(180deg, rgba(102,160,109,.3), transparent 50%);
}

header{
	position: relative;
	background-color: #66A06D;
	height: 100px;
	width: 1000px;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

header img{
	margin: 10px;
	height: 80px;
	float: left;
}
header h1{
	text-align: left;
	float: left;
	margin: 10px;
	color: #DEDEDE;
	font-family: cityscape;
	font-size: 80px;
	font-weight: normal;
	font-style: normal;
}
header p{
	float:left;
	margin: 10px;
	color: #FEFEFE;
}
nav{
	display: block;
	width: 1000px;
	position: relative;
	background-color: #66A06D;
	margin: 0 auto;
	text-align: center;
	padding: 2px 0;
}

.hidden{
	display: none;
}

nav ul{
	display: inline-block;
	border-width: 2px 0;
	border-style: solid;
	border-color: #FFF;
	vertical-align: middle;
}

nav ul li{
	display: block;
	width: 200px;
	float: left;
	line-height: 50px;
	text-align: center;
	background-color: #66A06D;
	color: #FFF;
	margin: 2px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

nav ul li.active{
	background-color: #FFF;
	color: #66A06D;
}

nav ul li:hover{
	background-color: #FFF;
	color: #5F9EA0;
}

nav a{
	text-decoration: none;
	color: inherit;
}

nav.fixed{
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  opacity:0.8;
  z-index:999;
}
nav.fixed:hover{
	opacity: 1;
}
section.spaced{
	margin-top: 70px;
}

article{
	position: relative;
	background-color: #FAFAFA;
	width: 1000px;
	margin: 5px auto 0;
	border-width: 0 1px 1px;
	border-style: solid solid double;
	border-color: #66CDAA;
}
article:after{
	content: "-";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

article > header{
	width: 100%;
	text-align: center;
	color: #FFF;
	font-size: 15px;
	height: 20px;
	background-color: #66A06D;
}

article > section{
	margin: 5px;
}

article > footer{
	position: absolute;
	bottom: 0;
	height: 40px;
	background-color: #ADA;
  	opacity:0.8;
}
article > footer:hover{
	background-color: #ADA;
  	opacity:1;
}

article > footer > a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #000;
	font-size: 35px;
	text-align: center;
}

article > footer:hover > a{
	color: #66CDAA;
	border-color: #66CDAA;
}

article img{
	border-radius: 10%;
	border: 2px solid;
	border-color: inherit;
	height: 200px;
	width: 300px;
	margin: inherit;
	float: left;
}
article h1{
	width: 650px;
	font-size: 25px;
	margin: inherit;
	float: left;
}

article p{
	width: 650px;
	float: left;
}

section{
	background-color: #FAFAFA;
	width: 980px;
	margin: 0 auto;
	clear: both;
	padding: 10px;
}

section:first-child{
	height: 2000px;
}

footer{
	width: 1000px;
	height: 100px;
	background-color: #66A06D;
	border-color: #66A06D; 
	color: #FFF;
	margin: 10px auto 0;
}
footer.post > img{
	border-radius: 30%;
	border: 2px solid;
	border-color: inherit;
	height: 76px;
	width: 76px;
	margin: 10px;
	float: left;
}
footer.post > p.autor{
	width: 650px;
	font-size: 25px;
	margin: 10px;
	float: left;
}

footer.post > p{
	width: 650px;
	float: left;
}

.escopo span{
	width: 100px;
	display: inline-block;
}
textarea{
	width: 600px;
	height: 300px;
}
.escopo input[type="text"]{
	width: 300px
}