@CHARSET "ISO-8859-1";
.sprite {
	background-image: url('../images/sprites.png');
    background-repeat: no-repeat;
    display: block;
    width: 64px;
    height: 64px;
}
.i-facebook {
    background-position: -5px -5px;
}

.i-facebook:hover {
    background-position: -79px -5px;
}

.i-instagram {
    background-position: -153px -5px;
}

.i-instagram:hover {
    background-position: -5px -79px;
}

.i-rss {
    background-position: -79px -79px;
}

.i-rss:hover {
    background-position: -153px -79px;
}

.i-twitter {
    background-position: -5px -153px;
}

.i-twitter:hover {
    background-position: -79px -153px;
}

.i-youtube {
    background-position: -153px -153px;
}

.i-youtube:hover {
    background-position: -227px -5px;
}

.i-youtubeplay {
    background-position: -227px -79px;
}

.i-youtubeplay:hover {
    background-position: -227px -153px;
}
